.underlined__box {
  border-bottom: 3px solid #ef5b70;
}

.registration {
  margin-bottom: 93px;
}

.accordion {
  border-bottom: 1px solid #e8e8e8;
}

.accordion__title {
  display: flex;
  padding-top: 30px;
}

.accordion__title__link {
  margin-bottom: 30px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.accordion__content__box {
  display: flex;
  padding-left: 33px;
  padding-bottom: 79px;
}

.accordion__content__box__left, .accordion__content__box__right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.subtitle__registration{
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 15px;
}

.button__continue {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 19px 53px 19px 53px;
  width: 180px;
  margin-top: 23px;
  text-decoration: none;
}

.button__continue:hover {
  background-color:#ef5b70;
  border: 1px solid #ef5b70;
  color: #ffffff;
}

.text__registration {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;  
}

.text__registration__add {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2; 
  margin-bottom: 15px;
}

.number__accordion {
  margin-right: 10px;
}

.form__for__checkbox {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 34px;
  margin-top: 34px;
  gap: 20px;
}

.radiobutton {
  margin-right: 14px;
}

.text__radiobutton {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.mb__text__reg {
  margin-bottom: 33px;
}

.fa-angles-right {
  margin-right: 5px;
}

.box__field__reg {
  display: flex;
  flex-direction: column;
}

.field_registration {
  width: 390px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-bottom: 23px;
  padding: 18px 22px;
}

.text__field_registration {
  margin-bottom: 16px;
  font-family: Lato;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

.warning__text {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0d0d;
}

.button__login {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 19px 45px 19px 45px;
  text-decoration: none;
  margin-top: 8px;
}

.button__login:hover {
  background-color:#ef5b70;
  border: 1px solid #ef5b70;
  color: #ffffff;
}

.question__fogot {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  margin-left: 32px;
  margin-top: 29px;
}

.login__box {
  display: flex;
}