.underlined__box {
  border-bottom: 3px solid #ef5b70;
}

.open__category {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fa-caret-up {
  color: #ef5b70;
}

.box__for__filter {
  padding-top: 59px;
  display: flex;
}

.filter {
  margin-bottom: 110px;
  margin-right: 40px;
}
.filter__box {
  height: 37px;
  border-bottom: 1px solid #ebebeb;
  width: 243px;
  display: flex;
  align-items: center;
}
.filter__box__line {
  width: 5px;
  height: 37px;
  background-color: #ef5b70;
  margin-right: 11px;
}
.filter__box__title {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ef5b70;
  display: flex;
  justify-content: space-between;
}
.filter__box__title__grey {
  color: #6f6e6e;
}

.filter__point {
  display: flex;
  margin-bottom: 18px;
}

.filter__box__link {
  width: 243px;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 41px;
  padding-left: 17px;
}

.category-link {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 33px;
  font-weight: 400;
  color: #6f6e6e;
}

.category-link:hover {
  color: #ef5b70;
}

.quick__search {
  display: flex;
  gap: 30px;
}

.quality {
  background-color: #222224;
  padding-top: 89px;
  padding-bottom: 115px;
}

.quality__company {
  display: flex;
  justify-content: center;
  gap: 82px;
}

.box__for__search {
  width: 263px;
}

.results {
  margin-bottom: 110px;
}

.quick__search {
  margin-bottom: 41px;
}

.block__with__trending {
  display: flex;
  flex-wrap: wrap;
}

.search__title {
  margin-bottom: 25px;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6f6e6e;
}

.title__trend {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}
.title__trend__vert__line {
  color: #dfdfdf;
  margin-right: 10px;
  margin-left: 10px;
}

.form__for__search__checkbox {
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(2, 2fr);
}

.checkbox__search {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6f6e6e;
  margin-left: 5px;
}

.range__search {
  width: 100%;
  margin-bottom: 21px;
}

.range__prices {
  display: flex;
  justify-content: space-between;
}

.title__price__range {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
}

.sorting {
  height: 50px;
  background-color: #f3f3f3;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

.field__name {
  border-left: none;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  width: 80px;
}

.position__caret__down {
  position: absolute;
  top: 7px;
  left: 140px;
}

.field__sortby {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  width: 73px;
}

.placeholder__sortby::-moz-placeholder {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  padding-left: 13px;
}

.placeholder__sortby::placeholder {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  padding-left: 13px;
}

.placeholder__search__name::-moz-placeholder {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  padding-left: 13px;
}

.placeholder__search__name::placeholder {
  font-family: Lato;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #6f6e6e;
  padding-left: 13px;
}

.sort__by {
  height: 30px;
  display: flex;
  padding-left: 9px;
  position: relative;
  margin-right: 10px;
}

.result__product {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 3fr);
  gap: 29px;
  margin-bottom: 43px;
}

.button__view__all {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #ef5b70;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  padding: 13px 47px 14px 47px;
  margin-top: 15px;
}

.button__view__all:hover {
  color: #ffffff;
  background-color: #ef5b70;
}

.result__in__common {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  width: 261px;
  height: 44px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.fa-circle-chevron-left {
  color: #ef5b70;
  margin-left: 13px;
}

.fa-circle-chevron-right {
  color: #ef5b70;
  margin-right: 13px;
}

.pagination__text {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #c4c4c4;
}
.pagination__text__red {
  color: #ef5b70;
}

.center__elements {
  display: flex;
  justify-content: center;
}
.center__elements__fd__text__column {
  flex-direction: column;
  text-align: center;
}

.mb__icon {
  margin-bottom: 23px;
}

.underlined__box {
  border-bottom: 3px solid #ef5b70;
}

.list__address {
  position: relative;
}

.position__caret__proceed {
  position: absolute;
  top: 15px;
  left: 327px;
}

.breadcrumbs {
  margin-bottom: 90px;
}

.cart__page {
  margin-bottom: 91px;
  height: auto;
}

.cart__page__block {
  display: flex;
  justify-content: space-between;
}
.cart__page__block__product__details {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.cart__page__block__product__details__info {
  border-top: 1px solid #eaeaea;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 165px;
  display: flex;
  align-items: center;
}
.cart__page__block__product__details__info__text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.cart__page__block__details {
  width: 12%;
  display: flex;
  flex-direction: column;
}
.cart__page__block__details__line {
  border-top: 1px solid #eaeaea;
  min-height: 165px;
  display: flex;
  align-items: center;
}
.cart__page__block__action {
  display: flex;
  flex-direction: column;
}
.cart__page__block__action__line {
  border-top: 1px solid #eaeaea;
  min-height: 165px;
  display: flex;
  align-items: center;
}

.center__info {
  display: flex;
  justify-content: center;
}

.box__cart__product {
  margin-bottom: 22px;
}

.img__cart__pic {
  height: 115px;
  margin-right: 21px;
}

.cart__product__title {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  padding-top: 13px;
  margin-bottom: 11px;
}

.cart__product__parameters {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757;
}
.cart__product__parameters__value__parameter {
  font-weight: 300;
  color: #6f6e6e;
}

.cart__page__title__text {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #222222;
  margin-bottom: 20px;
}

.cart__value__text__price {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  margin-left: 19px;
}

.cart__value__text__shipping {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  margin-left: 13px;
}

.cart__value__text__subtotal {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  margin-left: 16px;
}

.field__quantity {
  width: 54px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-left: 6px;
}

.field__quantity::-moz-placeholder {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  padding-left: 22px;
}

.field__quantity::placeholder {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #656565;
  padding-left: 22px;
}

.fa-circle-xmark {
  color: #c0c0c0;
  padding-left: 16px;
}

.work__buttons__cart {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 63px;
  border-top: 1px solid #eaeaea;
}

.button__clear__go__on {
  padding: 20px 39px 18px 39px;
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.button__clear__go__on:hover {
  background-color: #ef5b70;
  border: 1px solid #ef5b70;
  color: white;
}

.shipping__info {
  display: flex;
  gap: 36px;
  padding-bottom: 35px;
}
.shipping__info__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input__address {
  width: 355px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.shipping__info__address__title {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.disc__coupon {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.input__address::-moz-placeholder {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding-left: 18px;
}

.input__address::placeholder {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 300;
  color: #b1b1b1;
  padding-left: 18px;
}

.button__apply__coupon {
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 12px 18px 13px 17px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  width: 122px;
}

.button__apply__coupon:hover {
  background-color: #ef5b70;
  border: 1px solid #ef5b70;
  color: white;
}

.box__proceed {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 214px;
  background-color: #f5f3f3;
  width: 100%;
  padding: 40px 43px 42px 44px;
}
.box__proceed__text {
  display: flex;
  justify-content: end;
}

.proceed__subtitle {
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #4a4a4a;
  margin-bottom: 14px;
}

.proceed__title__price {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}
.proceed__title__price__value {
  color: #f16d7f;
}

.box__proceed__info {
  width: 275px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 22px;
}

.box__button__proceed__checkout {
  padding-top: 17px;
  display: flex;
  justify-content: center;
}

.button__proceed__checkout:hover {
  background-color: #f5f3f3;
  color: #f16d7f;
}

.button__proceed__checkout {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  padding: 19px 41px 18px 41px;
  text-decoration: none;
}

.mr__text__proceed {
  margin-right: 18px;
}

.button__get__quote {
  font-family: Lato;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 12px 14px 12px 15px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  text-decoration: none;
}

.button__get__quote:hover {
  background-color: #ef5b70;
  border: 1px solid #ef5b70;
  color: white;
}

.underlined__box {
  border-bottom: 3px solid #ef5b70;
}

.registration {
  margin-bottom: 93px;
}

.accordion {
  border-bottom: 1px solid #e8e8e8;
}

.accordion__title {
  display: flex;
  padding-top: 30px;
}

.accordion__title__link {
  margin-bottom: 30px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.accordion__content__box {
  display: flex;
  padding-left: 33px;
  padding-bottom: 79px;
}

.accordion__content__box__left, .accordion__content__box__right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.subtitle__registration {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 15px;
}

.button__continue {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 19px 53px 19px 53px;
  width: 180px;
  margin-top: 23px;
  text-decoration: none;
}

.button__continue:hover {
  background-color: #ef5b70;
  border: 1px solid #ef5b70;
  color: #ffffff;
}

.text__registration {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
}

.text__registration__add {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #b3b2b2;
  margin-bottom: 15px;
}

.number__accordion {
  margin-right: 10px;
}

.form__for__checkbox {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 34px;
  margin-top: 34px;
  gap: 20px;
}

.radiobutton {
  margin-right: 14px;
}

.text__radiobutton {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

.mb__text__reg {
  margin-bottom: 33px;
}

.fa-angles-right {
  margin-right: 5px;
}

.box__field__reg {
  display: flex;
  flex-direction: column;
}

.field_registration {
  width: 390px;
  height: 45px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-bottom: 23px;
}

.text__field_registration {
  margin-bottom: 16px;
  font-family: Lato;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
}

.warning__text {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #ff0d0d;
}

.button__login {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  padding: 19px 45px 19px 45px;
  text-decoration: none;
  margin-top: 8px;
}

.button__login:hover {
  background-color: #ef5b70;
  border: 1px solid #ef5b70;
  color: #ffffff;
}

.question__fogot {
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  margin-left: 32px;
  margin-top: 29px;
}

.login__box {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #fff;
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

header {
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.header__string {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.logo__img__link {
  margin-right: 13px;
}

.logo__img {
  padding-top: 25px;
}

.browse {
  display: flex;
}

.menu__detailes {
  display: flex;
}

.button__browse {
  height: 38px;
  background-color: #cdcdcc;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  position: relative;
  padding: 9px 10px 9px 10px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.menu__browse {
  display: flex;
  flex-direction: column;
  width: 277px;
  padding: 20px;
  border: 1px solid #a4a4a4;
  background-color: #FFF;
  border-radius: 5px;
  position: absolute;
  z-index: 10000;
}

.fa-caret-down {
  margin-left: 5px;
  color: #838383;
}

.logo__text__link {
  margin-right: 37px;
  text-decoration: none;
  padding-top: 39px;
}

.logo__text {
  font-family: Lato;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.logo__text__add {
  font-weight: 900;
  color: #f16d7f;
}

.browse__string {
  width: 279px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
}

.browse__string::-moz-placeholder {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  padding-left: 16px;
}

.browse__string::placeholder {
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
  padding-left: 16px;
}

.button__search {
  height: 38px;
  width: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0px 3px 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-magnifying-glass {
  color: #838383;
}

.block__browse {
  height: 38px;
  padding-top: 32px;
  display: flex;
}

.cart {
  display: flex;
}

.cart__box {
  display: flex;
  flex-direction: column;
  width: 262px;
  height: 440px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 54px;
  left: -66px;
  z-index: 10000;
  padding: 21px 16px 20px 17px;
}

.cart__menu {
  position: relative;
}

.button__account {
  border: #f16d7f;
  font-family: Lato;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  padding: 1px 13px 21px 19px;
  background-color: #f16d7f;
}

.cart__block {
  display: flex;
  height: 38px;
}

.block__cart__img {
  margin-top: 40px;
  margin-right: 26px;
}

.block__button__account {
  padding-top: 33px;
}

.add__caret {
  color: #ffffff;
  margin-left: 8px;
}

.chose__product {
  border-bottom: 2px solid rgba(237, 237, 237, 0.74);
  display: flex;
  margin-bottom: 16px;
}

.photo__cart {
  margin-bottom: 16px;
  margin-right: 14px;
}

.info__product__cart {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-right: 54px;
}

.name__product__cart {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 10px;
}

.fa-star {
  color: rgba(224, 224, 15, 0.726);
  margin-bottom: 12px;
}

.fa-square-xmark {
  color: #c0c0c0;
  padding-top: 35px;
}

.price__and__quantity {
  font-family: Lato;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #f16d7f;
}

.total__price__cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.text__cart__total {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
}

.button__checkout {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  width: 227px;
  height: 50px;
  border: 1px solid #f16d7f;
  text-decoration: none;
  margin-bottom: 11px;
  text-align: center;
  padding-top: 17px;
}

.button__checkout:hover {
  background-color: #f16d7f;
  color: #FFF;
}

.go__cart {
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
  width: 227px;
  height: 50px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  text-decoration: none;
  text-align: center;
  padding-top: 17px;
}

.go__cart:hover {
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  color: #FFF;
}

.main__offer {
  background-color: #e8e8e8;
  margin-bottom: 98px;
  position: relative;
}

.menu {
  position: absolute;
  background-color: #ffffff;
  min-width: 96%;
  display: flex;
  justify-content: center;
  z-index: 500;
}

.block__menu {
  height: 51px;
}

.string__menu {
  display: flex;
}

.menu__link {
  list-style-type: none;
  position: relative;
  padding-top: 10px;
  padding-bottom: 22px;
}

.menu__link__text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

.menu__link__text:hover {
  color: #f16d7f;
}

.mega-box {
  padding: 20px;
  border: 1px solid #a4a4a4;
  background-color: #FFF;
  border-radius: 5px;
  z-index: 1000;
  position: absolute;
  top: 42px;
  display: none;
}

.mega-box::before {
  content: "";
  display: block;
  height: 16px;
  width: 16px;
  background-color: #FFF;
  position: absolute;
  top: -9px;
  left: 28px;
  transform: rotate(45deg);
  border-top: 1px solid #a4a4a4;
  border-left: 1px solid #a4a4a4;
}

.mega-title {
  width: 235px;
  border-bottom: 1px solid #a4a4a4;
  font-family: Lato;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #232323;
  margin-bottom: 16px;
}

.mt__mega-title {
  margin-top: 7px;
}

.mega-link {
  font-family: Lato;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #646464;
  display: block;
  text-decoration: none;
}

.mega-link:hover {
  color: #f16d7f;
}

.menu-item {
  margin-right: 46px;
}

.menu-item:last-of-type {
  margin-right: 0;
}

.menu__link:hover .mega-box {
  display: flex;
}

.last:hover .mega-box {
  right: 0;
  left: auto;
}

.last:hover .mega-box::before {
  right: 48px;
  left: auto;
}

.img__menu {
  margin-top: 15px;
  position: relative;
}

.text__sale__menu {
  position: absolute;
  right: 31px;
  bottom: 31px;
  font-family: Lato;
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #ffffff;
}

.img__offer {
  position: relative;
}

.main__img__offer {
  max-width: 96%;
}

.block__text__offer {
  position: absolute;
  padding-top: 276px;
  padding-left: calc(50% - 570px);
  display: flex;
}

.line__for__header {
  width: 12px;
  background-color: #f16d7f;
  margin-right: 12px;
  height: 100;
}

.text__offer {
  font-family: Lato;
  font-size: 60px;
  line-height: 0.8;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
}
.text__offer__add {
  font-size: 40px;
}
.text__offer__red {
  color: #f16d7f;
  font-size: 40px;
}

.category {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(3, 261px);
  gap: 20px;
  margin-bottom: 100px;
}

.offer_men {
  grid-area: 1/1/2/1;
  position: relative;
}

.text__offer_men {
  position: absolute;
  left: 0;
  top: 26px;
}

.offer_women {
  grid-area: 1/2/1/2;
  position: relative;
}

.text__offer_women {
  position: absolute;
  left: 0;
  top: 26px;
}

.offer_kid {
  grid-area: 2/2/3/2;
  position: relative;
}

.text__offer_kid {
  position: absolute;
  left: 0;
  top: 26px;
}

.offer_accesories {
  grid-area: 3/1/3/1;
  position: relative;
}

.text__offer_accesories {
  position: absolute;
  left: 0;
  top: 26px;
}

.offer_men:hover {
  transform: scale(1.03);
  transition-duration: 0.4s;
}

.offer_women:hover {
  transform: scale(1.03);
  transition-duration: 0.4s;
}

.offer_kid:hover {
  transform: scale(1.03);
  transition-duration: 0.4s;
}

.offer_accesories:hover {
  transform: scale(1.03);
  transition-duration: 0.4s;
}

.block__offer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  padding-left: 19px;
  padding-right: 19px;
}

.header__offer {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.header__offer__add {
  font-size: 30px;
  color: #f16d7f;
}

.header__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text__header__items {
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #222222;
  margin-bottom: 16px;
}

.descr__header__items {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #9f9f9f;
  margin-bottom: 59px;
}

.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.items-link {
  text-decoration: none;
}

.title__item {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 17px;
  padding-left: 14px;
}

.price__item {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
  margin-bottom: 21px;
  padding-left: 14px;
}

.mb__item {
  margin-bottom: 19px;
}

.img__item {
  margin-bottom: 19px;
  width: 100%;
}

.item:hover .img__item {
  filter: brightness(30%);
}

.add__cart {
  display: flex;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #fff;
  align-items: center;
  pointer-events: all;
}

.add-box {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
  pointer-events: none;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: repeat(2, 2fr);
  gap: 20px;
  margin-bottom: 58px;
}

.item {
  position: relative;
  width: 263px;
}

.add-txt {
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  margin-left: 8px;
}

.add__cart:hover {
  box-shadow: 0 0 10px 0 #ffffff;
}

.item:hover .add-box {
  display: flex;
}

.block__button__browse__items {
  display: flex;
  justify-content: center;
}

.button__browse__items {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
  background-color: #f16d7f;
  padding: 1rem 2rem;
  text-decoration: none;
  margin-right: 20px;
  border: 3px solid transparent;
  transition: all 0.3s;
  margin-bottom: 113px;
}

.fa-arrow-right-long {
  color: #ffffff;
  margin-left: 9px;
}

.button__browse__items:hover {
  color: #f16d7f;
  background-color: #fff;
  border: 3px solid #f16d7f;
}

.button__browse__items:hover .fa-arrow-right-long {
  color: #f16d7f;
}

.bunner__advantages__img__text {
  display: flex;
  position: relative;
  margin-bottom: 97px;
}

.block__img__advantages {
  background-image: url(img/bunner_advantages.png);
}

.block__discount {
  position: absolute;
  left: 39px;
  top: 146px;
}

.text__bunner__advantages {
  font-family: Lato;
  font-size: 53.7px;
  line-height: 0.65;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.text__bunner__advantages__red__text {
  color: #f16d7f;
}
.text__bunner__advantages__add__text {
  font-size: 32.2px;
}

.block__bunner__offers {
  background-color: #222224;
  padding-top: 61px;
  padding-left: 36px;
}

.block__bunner__offers {
  display: flex;
  flex-direction: column;
}

.offer__advantage__text {
  display: flex;
  margin-bottom: 54px;
  margin-right: 36px;
}

.offer__advantage__box {
  margin-right: 33px;
}

.offer__advantage__text__title {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
  margin-bottom: 17px;
}

.offer__advantage__text__desc {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}

.breadcrumbs {
  background-color: #f8f3f4;
}

.arrivals__header {
  margin-top: 51px;
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__arrivals {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f;
}

.link__breadcrumbs {
  display: flex;
}

.text__link__breadcrumbs {
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #636363;
}
.text__link__breadcrumbs__red {
  font-weight: 700;
  color: #f16d7f;
  text-decoration: none;
}

.text__link__breadcrumbs:hover {
  color: #f16d7f;
}

.deleter {
  margin-left: 3px;
  margin-right: 3px;
}

.info__products {
  margin-bottom: 793px;
}

.carousel {
  display: flex;
  justify-content: space-between;
  height: 777px;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}

.slider__products {
  position: relative;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 11px;
}

.carousel__left {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  margin-top: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__right {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.14);
  margin-top: 365px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-chevron-left, .fa-chevron-right {
  color: #ffffff;
}

.img__full__products {
  margin-bottom: 42px;
}

.block__with__info__products {
  position: absolute;
  top: 691px;
  height: 760px;
  width: 1140px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-top: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block__for__add__more {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 73px;
}

.title__collection {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #f16d7f;
  margin-bottom: 15px;
}

.border__header__collection {
  width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
}

.line__border__header__collection {
  width: 42px;
  height: 1px;
  background-color: #ef5b70;
  border: 1px solid #eaeaea;
}

.line__border__header__collection__red {
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
}

.header__group__collection {
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #4d4d4d;
  margin-bottom: 67px;
}

.descr__collection {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #5e5e5e;
  text-align: center;
  margin-bottom: 28px;
}

.content__producer {
  display: flex;
  justify-content: center;
  gap: 44px;
  margin-bottom: 37px;
}

.text__content__producer {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #b9b9b9;
}
.text__content__producer__value {
  color: #2f2f2f;
}

.price__decr {
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #ef5b70;
  margin-bottom: 43px;
}

.border__center__box__collection {
  width: 642px;
  height: 1px;
  background-color: #ef5b70;
  border: 1px solid #eaeaea;
  margin-bottom: 63px;
}

.field__for__chosen {
  display: flex;
  gap: 53px;
}

.title__with__field__product {
  display: flex;
  flex-direction: column;
}

.text__chosen {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.field__for__chosen__product {
  width: 144px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  margin-bottom: 28px;
}

.placeholder__color::-moz-placeholder {
  font-family: Lato;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding-left: 37px;
}

.placeholder__color::placeholder {
  font-family: Lato;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding-left: 37px;
}

.placeholder__size::-moz-placeholder {
  font-family: Lato;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding-left: 17px;
}

.placeholder__size::placeholder {
  font-family: Lato;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding-left: 17px;
}

.placeholder__quantity::-moz-placeholder {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding-left: 17px;
}

.placeholder__quantity::placeholder {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #bcbcbc;
  padding-left: 17px;
}

.field__for__chosen__color__icon {
  position: relative;
}

.field__for__chosen__size__icon {
  position: relative;
}

.fa-chevron-down {
  position: absolute;
  top: 9px;
  left: 120px;
  color: #bcbcbc;
}

.fa-square {
  position: absolute;
  top: 9px;
  left: 15px;
  color: red;
}

.button__add__cart {
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  color: #ef5b70;
  width: 537px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  text-decoration: none;
  text-align: center;
  padding-top: 17px;
}

.fa-cart-plus {
  color: #f16d7f;
  margin-right: 15px;
}

.button__add__cart:hover {
  color: #FFF;
  background-color: #f16d7f;
}

.button__add__cart:hover .fa-cart-plus {
  color: #FFF;
}

.title__additional__products {
  font-family: Lato;
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 72px;
}

.products__addition {
  display: flex;
  justify-content: space-between;
}

.part__opinion {
  background-image: url(img/background_opinion.png);
  background-size: cover;
  min-height: 438px;
}

.block__opinion {
  display: flex;
  position: relative;
}

.image__fone__opinion {
  position: absolute;
  min-width: 96%;
  background-color: rgba(242, 242, 242, 0.5);
  height: 438px;
}

.client__opinion {
  width: 50%;
  padding-top: 111px;
  display: flex;
}

.photo__opinion {
  margin-right: 28px;
}

.opinion__text {
  font-family: Lato;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 19px;
}

.name__opinion {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 41px;
}
.name__opinion__add {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
}

.spoiler__opinion {
  display: flex;
  width: 200px;
}

.spoiler__block {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}

.spoiler__pink {
  background-color: #f16d7f;
}

.mr__spoiler__opinion {
  margin-right: 13px;
}

.block__subscribe {
  display: flex;
  flex-direction: column;
  padding-top: 148px;
}

.text__subscribe {
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222224;
  margin-bottom: 35px;
}
.text__subscribe__add {
  font-size: 14px;
  text-transform: none;
}

.string__subscribe {
  display: flex;
  justify-content: center;
}

.field__subscribe {
  width: 334px;
  height: 46px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  border: none;
}

.field__subscribe::-moz-placeholder {
  opacity: 0.67;
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding-left: 28px;
}

.field__subscribe::placeholder {
  opacity: 0.67;
  font-family: Lato;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222224;
  padding-left: 28px;
}

.button__subscribe {
  width: 104px;
  height: 46px;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  border: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  text-align: center;
  padding-top: 13px;
}

.button__subscribe:hover {
  background-color: #FFF;
  color: #f16d7f;
  border: 1px solid #f16d7f;
}

.contacts__info {
  display: flex;
  padding-top: 109px;
  padding-bottom: 89px;
}

.about__company {
  margin-right: 64px;
}

.logo__with__text {
  margin-bottom: 29px;
  display: flex;
  align-items: center;
}

.logo__img__link__bottom {
  margin-right: 13px;
}

.pt__null {
  padding-top: 0;
}

.desc__company {
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #898989;
}

.mb__desc__company {
  margin-bottom: 15px;
}

.link__column {
  display: flex;
  flex-direction: column;
}

.company__link {
  margin-right: 129px;
}

.information__link {
  margin-right: 80px;
}

.contacts__title {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #f16d7f;
  margin-bottom: 45px;
}

.link__contacts {
  font-family: Lato;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #898989;
  text-decoration: none;
}

.link__contacts:hover {
  color: #f16d7f;
}

.social__net {
  background-color: #e6e6e6;
  margin-bottom: 30px;
}

.block__social__net {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}

.text__copyright {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #7a7a7a;
}

.button_bottom {
  width: 32px;
  height: 32px;
  background-color: #FFF;
  border-color: #b2b2b2;
}

.icon_social_nets path {
  fill: #b2b2b2;
}

.button_bottom:hover {
  background-color: #F16D7F;
}

.button_bottom:hover .icon_social_nets path {
  fill: #FFF;
}/*# sourceMappingURL=style.css.map */